<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <property name="normal-pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <Encoding>UTF-8</Encoding>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${normal-pattern}</Pattern>
        </layout>
    </appender>

    <!--<appender name="FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<Encoding>UTF-8</Encoding>-->
        <!--<File>${log.dir}/notifier-service.log</File>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<FileNamePattern>${log.dir}/bak/notifier-service.%d{yyyy-MM-dd}.log.zip</FileNamePattern>-->
        <!--</rollingPolicy>-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<Pattern>${normal-pattern}</Pattern>-->
        <!--</encoder>-->
        <!--&lt;!&ndash;<filter class="com.jkm.base.common.util.DaoLogFilter"/>&ndash;&gt;-->
    <!--</appender>-->

    <logger name="com.jkm" additivity="true" level="DEBUG">
        <appender-ref ref="FILE_LOG"/>
    </logger>

    <logger name="org.springframework" additivity="true" level="INFO">
        <appender-ref ref="FILE_LOG"/>
    </logger>

    <logger name="org.apache" additivity="true" level="INFO">
        <appender-ref ref="FILE_LOG"/>
    </logger>

    <logger name="com.alibaba" additivity="true" level="WARN">
        <appender-ref ref="FILE_LOG"/>
    </logger>

    <logger name="druid.sql" additivity="true" level="INFO">
        <appender-ref ref="FILE_LOG"/>
    </logger>

    <logger name="net.sf" additivity="true" level="INFO">
        <appender-ref ref="FILE_LOG"/>
        <level value="INFO"/>
    </logger>

    <logger name="org.mybatis" additivity="true" level="INFO">
        <appender-ref ref="FILE_LOG"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
