<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="page" type="com.jkm.hsy.user.constant.Page"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.jkm.hsy.user.constant.PageInterceptor">
            <property name="dataBaseType" value="mysql" />
        </plugin>
    </plugins>
</configuration>